@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

.clearfix {
    display: block;
    content: '';
    clear: both;
}

body {
    position: relative;
    height: 100vh;
    perspective: 300px;
    
}

.card-container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 720px; height: 420px;
    perspective: 1000px;
    
}

.card {
    position: absolute;
    width: 100%; height: 100%;
    box-shadow: 2px 2px 35px 5px #eee;
    background-color: #fff;
    transition: all .7s linear;
}

.card-front {
    z-index: 5;
}

.card-front .photo {
    width: 50%; height: 100%;
    float: left;
    background-image: url(../public/images/banner.jpg);
    background-size: cover;
}

.card-front .description {
    width: 50%; height: 100%;
    float: left;
    padding: 20px;
}

.card-front .author {
    color: #444;
}

.card-front .title {
    color: #333;
    font-size: 25px;
}

.card-front .content {
    margin-top: 20px;
}

.card-back {
    transform: rotateY(-180deg);
    z-index: 4;
    padding: 10px;
}

.card-back h2 {
    text-align: center;
}

.card-back .form-container {
    width: 100%; height: 80%;
}
.card-back form ul {
    width: 100%; height: 100%;
}

.card-back form ul li {
    height: 30px;
    float: left;
}

.card-back form ul li:not(:last-child) {
    width: 50%;;
    margin-top: 20px;
}

.card-back form ul li:nth-child(5) {
    width: 100%; height: 150px;
    margin-top: 15px;
}

.card-back input[type="text"] {
    width: 90%; height: 100%;
    border: none;   
    border-bottom: 1px solid #eee;
}

.card-back input[type="submit"] {
    width: 100px; height: 30px;
    position: absolute;
    bottom: 10px; right: 10px;
}

.card-back textarea {
    border: none;
    border-bottom: 1px solid #eee;
    width: 100%; height: 100%;
}

.card-back input:focus, textarea:focus {
    outline: none;
    border-bottom: 1.5px solid blue;
}

.card-container:hover .card-front {
    transform: rotateY(180deg);
}

.card-container:hover .card-back {
    transform: rotateY(0deg);
    z-index: 5;
}

